body { 
	font-family: 'Arial', 'Tahoma'; 
}

.UBH_new a{
	display:none;
}
.UBH_start a {
	display:none;
}

UBH_paperboy a {
	display:none;
}

#gEntryAdContainer { display:none; }
#gAdContainerDisplaySec { display:none; }
#aswift_1_expand { display:none; }

.entry-footer { display:none; }

#comment { display:none; }